html {
    font-size: 62.5%; /* 10px */
}

body {
    font-size: 2rem;
    position: relative;
    background-color: $bgGradientOne;
    background-image: linear-gradient($bgGradientOne, $bgGradientTwo);
    color: $primaryWhite;
    font-family: $bodyFont;
}


/* STRIPPING STYLES */
body, 
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    border: none;
    cursor: pointer;
}
// END OF STRIPPING STYLES



// COMMON STYLES
.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
} 

.hide {
    display: none;
}

// small desktop
@media (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }
}
/* large tablet */
@media (max-width: 980px) {
    
}
/* small tablet */
@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }
}
/* mobile */
@media (max-width: 480px) {

}
// END OF COMMON STYLES


// START SCREEN
.startScreen {
    background-image: linear-gradient($bgGradientOne, $primary);
    // height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    @include flex(column, center, center);


    .header {
        font-family: $headerFont;
        @include fluidType();
        color: $secondary;
        opacity: 0.5;
    }
    
    .startButton {
        position: absolute;
        font-family: inherit;
        color: $primaryWhite;
        background: transparent;
        padding: 100px;
        @include fluidType(20px, 30px,);
    }
}

/* large tablet */
@media (max-width: 980px) {

}
/* small tablet */
@media (max-width: 768px) {
    .startScreen {

        .header {
            position: relative;
            bottom: 50px;
        }
    }   
}
/* mobile */
@media (max-width: 480px) {

}
// END OF START SCREEN



// GAME SCREEN
.gameScreen {
    // display: none;
    height: 100vh;
    padding-top: 30px;

    .logo {
        text-align: center;
        text-transform: uppercase;
        color: $accent;
        font-family: $headerFont;
        letter-spacing: 10px;
        font-size: 4rem;
        text-shadow: 2px 2px 0 $secondary;
        filter: $dropShadow;
    }
    .pairCounter {
        text-transform: capitalize;
        text-align: end;
        font-size: 2.5rem;
        color: $pairCounter;
        filter: $dropShadow;
    }
    .gameBoard {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
        margin: 20px auto 35px;
    }
    .card {
        background-color: $primaryBlack;
        min-height: 120px;
        filter: $dropShadow;
        border-radius: 5px;background-image: url(../assets/card-back.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;

        &.faceUp {
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
        }

        &.hidden {
            visibility: hidden;
        }

        @include hover() {
            border: 2px solid $pairCounter;
        }
    }
}

// NOTE: the mobile version doesn't scale very well. I had a hard time figuring out how to layout the board, the cards are either too small or you have to scroll, neither of which are idea. It works though


/* large tablet */
@media (max-width: 980px) {

}
/* small tablet */
@media (max-width: 768px) {
    .gameScreen {
        padding: 15px 0;
        height: auto;

        .pairCounter {
            text-align: center;
            margin-top: 5px;
        }
        .gameBoard {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
            margin-bottom: 0;
        }
        .card {
            min-height: 95px;
        }
    }
}
/* mobile */
@media (max-width: 480px) {
    .gameScreen {
        
        .logo {
            font-size: 3rem;
        }
        .pairCounter {
            font-size: 2rem;
        }
        .gameBoard {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(9, 1fr);
        }
        .card {
            min-height: 80px;
        }
        .faceUp {
            background-size: 60%;
        }
    }
}
// END OF GAME SCREEN



// COMPLETE SCREEN
.completeScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    background-color: $overlayGradientOne;
    background-image: linear-gradient(to bottom right, $overlayGradientOne 15%, $overlayGradientTwo);
    display: none;

    .container {
        @include flex(column, center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        font-family: $headerFont;
        font-size: 7.5rem;
        letter-spacing: 2px;
        color: $primaryWhite;
        text-shadow: 3px 3px 0 $bgGradientTwo;
        filter: $dropShadow;
    }

    p {
        margin: 20px 0;
    }

    button {
        @include button($bgGradientTwo, $secondary);
    }
}
// END OF COMPLETE SCREEN



// FOOTER
.footer {
    background-color: $primary;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    filter: drop-shadow(0 -1px 7px $primaryBlack);
    z-index: 20;
    
    .wrapper {
        @include flex(default, space-between, center);
    }

    .buttonsContainer {
        width: 40%;
        @include flex(default, space-around);
        position: relative;
    }

    .footerButton {
        @include button($accent, $secondary);
    }

    .infoBox {
        display: none;
        background-color: $bgGradientOne;
        color: $primaryWhite;
        line-height: 1.5;
        position: absolute;
        bottom: 200%;
        padding: 20px 30px;
        min-width: 350px;
        border: 2px solid $pairCounter;

        .rules {
            margin-bottom: 40px;
        }

        .credits {
            font-size: 1.5rem;
            letter-spacing: 1px;

            p {
                margin: 5px 0;
            }

            a {
                font-weight: 600;
                letter-spacing: 2px;

                @include hover() {
                    color: $pairCounter;
                }
            }

        }
    }

    .socialLinks {
        ul {
            @include flex()
        }

        a {
            padding: 10px;
            background-color: $socialButtons;
            margin: 10px;
            border-radius: 50%;
            filter: $dropShadow;

            @include hover() {
                background-color: lighten($socialButtons, 10%);
                transform: scale(1.1);
            }
        }
    }
}

/* large tablet */
@media (max-width: 980px) {
    .footer {

        .buttonsContainer {
            width: 50%;
        }
    }
}
/* small tablet */
@media (max-width: 768px) {
    .footer {
        

        .wrapper {
            display: none;
        }

        .footerButton {
            padding: 10px 30px;
        }
    }
}
/* mobile */
@media (max-width: 480px) {

}
// END OF FOOTER