// COLORS
$primary: #5F3CBA;
$secondary: #D31B65;
$accent: #FD7C20;
$bgGradientOne: #540187;
$bgGradientTwo: #B600A6;
$socialButtons: #3CB87A;
$pairCounter: #50C2DA;
$primaryWhite: #FCFCFC; 
$primaryBlack:#232323;
// These two are in RGBA, because I need to decrease opacity for the overlay
$overlayGradientOne: rgba(57,108,217,0.3); // #396CD9
$overlayGradientTwo: rgba(84,1,135, 0.5); //same as $bgGradientOne


// FONT STACKS
$bodyFont: "Anonymous Pro", monospace;
$headerFont: "Sarpanch", sans-serif;

// MISC
$dropShadow: drop-shadow(3px 3px 2px $primaryBlack);


// FLUID TYPE - from https://codepen.io/dbox/pen/meaMba
@mixin fluid-type($min-font-size: 70px, $max-font-size: 350px, $lower-range: 420px, $upper-range: 1900px) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}


// HOVER AND FOCUS STATES
@mixin hover() {
  &:hover,
  &:focus {
    @content;
  }
}


// FLEXBOX SHORTHAND
@mixin flex($flexDirection: initial, $justifyContent: initial, $alignItems: initial ) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// GRADIENT BUTTON
@mixin button($color1, $color2) {
  font-family: inherit;
  text-transform: capitalize;
  color: $primaryWhite;
  background-color: $color1;
  background-image: linear-gradient(to right, $color1, $color2);
  padding: 5px 40px;
  border-radius: 20px;
  filter: $dropShadow;

    @include hover() {
      background-image: linear-gradient(to right,
      lighten($color1, 10%), lighten($color2, 10%));
    }
}

